In [1]:
#import Library

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pltdata

In [3]:
#Open the Data Set

In [4]:
dataset=pd.read_csv("Social_Network_Ads.csv")

In [5]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [6]:
# Remove the catagorical data(i.e str)

In [7]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [8]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [9]:
dependant=dataset["Purchased"].value_counts()

In [10]:
dependant

Purchased
0    257
1    143
Name: count, dtype: int64

In [11]:
#Splite the Input & Output Dataset

dataset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [12]:
independant=dataset[[ 'Age', 'EstimatedSalary', 'Gender_Male']]
dependant=[['Purchased']]

In [13]:
independant.shape

(400, 3)

In [14]:
dependant=dataset["Purchased"]

In [16]:
dependant.shape

(400,)

In [17]:
dependant

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [18]:
#splite the Train & Test Data

In [19]:
from sklearn.model_selection import train_test_split
X_train,Y_train,X_test,Y_test = train_test_split(independant,dependant,test_size=1/3,random_state=0)

In [20]:
X_train

     Age  EstimatedSalary  Gender_Male
218   46            96000            0
101   28            59000            1
311   39            96000            1
194   28            89000            1
326   41            72000            1
..   ...              ...          ...
323   48            30000            0
192   29            43000            1
117   36            52000            1
47    27            54000            0
172   26           118000            0

[266 rows x 3 columns]

In [21]:
Y_train

     Age  EstimatedSalary  Gender_Male
132   30            87000            1
309   38            50000            0
341   35            75000            1
196   30            79000            0
246   35            50000            0
..   ...              ...          ...
168   29           148000            1
150   26            15000            0
393   60            42000            1
66    24            19000            1
240   42           149000            1

[134 rows x 3 columns]

In [22]:
# Train data - Model creation

In [24]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators= 100,criterion= 'entropy',random_state= 0)
classifier.fit(X_train,Y_train)

ValueError: Found input variables with inconsistent numbers of samples: [266, 134]

In [ ]:
# Evaluation Method Presidcting the Best Module

In [ ]:
Y_pred=classifier.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,Y_pred)

In [ ]:
from sklearn.metrics import classifiction_report
clf_report=classifiction_report(Y_test,Y_pred)

In [ ]:
print(cif_report)

In [ ]:
print(cm)

In [ ]:
classifier.predict([40,300,1]])